@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Anuphan", sans-serif;

  cursor: default;
}

header, footer {
  height: 60px;

  background-image: url("../Image/hf.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  min-height: 80vh;
  height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: #442f2a;
  overflow-x: hidden;
}

.fullpage {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headwei {
  color: #FFFBDC;
  font-size: 2.5rem;
  font-family: "Anuphan", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.coverwei {
  height: 350px;
}

.textwei {
  color: #FFFBDC;
  font-size: 1rem;
  font-family: "Anuphan", sans-serif;
  text-align: center;
  cursor: default;

  margin-bottom: 30px;
}

#start-button {
  background: #fffbdc;
  border: none;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  aspect-ratio: 140/50;
  position: relative;

  color: #442f2a;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;

  transition: all 0.3s ease-in;
}

#start-button:hover {
  background-color: #AFA490;
}

.card {
  height: fit-content;
  width: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;
  padding: 25px 0;
  gap: 25px;

  background-color: rgba(255, 255, 255, 10%);
  border-radius: 25px;
}

.cardhead, .excardhead {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.cardhead {
  color: white;
}

.excardhead {
  color: #FFFBDC;
}

.cardpic {
  width: 350px;
  height: 248px;
}

.textframe {
  width: 305px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nortext {
  width: 305px;
  height: fit-content;

  color: #FFFBDC;
  font-size: 0.95em;

  text-align: left;
}

.btext {
  width: 305px;
  height: fit-content;

  color: #FFFBDC;
  font-weight: bold;
  font-size: 0.95em;

  text-align: center;
}

.choiceframe {
  width: 304px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0;
  padding: 0;
}

.choicebox {
  width: 304px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0;
  padding: 0;
}

.choice {
  width: 147px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 20%);
  border-radius: 5px;
  border: 1px solid #FFFBDC;
  box-sizing: border-box;

  color: white;
  font-size: 1em;
  text-align: center;

  cursor: pointer;

  transition: all 0.3s ease-in;
}

.choice:hover {
  background-color: rgba(255, 255, 255, 40%);
  border: 1px solid FFF6B2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#credit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  color: #442f2a;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  position: relative;
  width: 100vw;
  font-weight: bold;

  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

#credit:hover {
  color: #72534c;
}