@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Anuphan", sans-serif;
}

header, footer {
  height: 60px;

  background-image: url("../Image/hf.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #442f2a;
  overflow-x: hidden;
}

.fullpage {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headwei {
  color: #FFFBDC;
  font-size: 2.5rem;
  font-family: "Anuphan", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.coverwei {
  height: 350px;
}

.textwei {
  color: #FFFBDC;
  font-size: 1rem;
  font-family: "Anuphan", sans-serif;
  text-align: center;
  cursor: default;

  margin-bottom: 30px;
}

#start-button {
  background: #fffbdc;
  border: none;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  aspect-ratio: 140/50;
  position: relative;

  color: #442f2a;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;

  transition: all 0.5s ease-in;
}

#start-button:hover {
  background-color: #AFA490;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#credit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  color: #442f2a;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  position: relative;
  width: 100vw;
  font-weight: bold;

  text-decoration: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

#credit:hover {
  color: #72534c;
}